#login{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    max-height: 100px;
    margin-top: -50px;
    max-width: 500px;
    margin-left: -200px;
}

.selected .count{
	display:none;
}

.chatcontainer li{
	margin-bottom: 5px;
	
}
.user{
	cursor: pointer;
}

.timestamp{
	font-size: 0.7em;
	color: grey;
}

.msgContent{
	color: black;
}

.count{
	border-radius: 50%;
	background-color: #2F93ED;
	color: white;
	padding: 2px 6px;
}

ul{
	list-style-type: none;
}

.chatContainer{
	position: absolute;
	top: 2px;
	left: 207px;
	right: 2px;
	bottom: 35px;
	padding: 5px;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.chatInput{
	width: 70%;
}

.btn{
	position: relative;
	bottom: 5px;	
}

#usernameContainer{
	position: absolute;
	left: 200px;
	top: 0px;
	width: 100%;	
}

.selected{
	font-weight: bold;
	
}

.userContainer .selected{
	/* border-bottom: 3px solid;
	border-top: 3px solid;
	padding-top:0px;
	padding-bottom:0px; */
	border-right: 5px solid;
}

.error{
	color: red;
}
.self{
	font-style:italic;
}

.userContainer{
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	top: 2px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	left: 2px;
	bottom: 2px;
}


.username{
	border:0px;
}

.userContainer li{
	padding-left:5px;
	padding-bottom: 3px;
	padding-top: 3px; 
	/* border-left: 5px solid;
	margin: 3px 0; */
}

.style{
	color: black;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 20px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	
	
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.stylebg{
	color: black;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 20px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-image: linear-gradient(to bottom,rgb(252, 250, 250),rgb(245, 245, 245));
	background-image: -webkit-linear-gradient(top,rgb(252, 250, 250),rgb(245, 245, 245));
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.styleheader{
	color: black;
	margin-bottom: 0;
	font-size: 1em;
	line-height: 20px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-image: linear-gradient(to bottom,rgb(253, 253, 253),rgb(243, 243, 243));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border-bottom: 1px solid rgb(185,185,185);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}


	.msgContainer{
	position: absolute;
	bottom: 0;
	left: 207px;
	right: 68px;
}

.msgContainer form{
	margin: 0;
}
	
.msgContainer input{
	width: 100%;
	margin: 0;
	padding: 0;
	margin-right: -100px;
	padding-left: 4px;
	height: 28px;
	margin-bottom: 2px;
}	
	
.msgContainer .btn{
right: -99px;
top: -1px;
position: relative;}



}