<login/>

<ul class="chatContainer stylebg" ng-hide="!sendTo || !username">
	<li ng-repeat="message in messages" ng-show="message.sender == sendTo || !sendTo || message.sender == username" >
		<span ng-hide="message.sender==username" ng-class="{selected: message.sender == sendTo}" class="user" ng-class="{selected: message.sender == sendTo}">
			{{message.sender}} 
		</span>  
		<span class="user" ng-show="message.sender == username">
			me
		</span>  
		|
		<span class="timestamp">
			{{message.timestamp | date:'HH:mm:ss'}}
		</span></br>
		<msgContents class="msgContent" ng-class="{self: message.sender == username}"><span ng-bind-html='message.content | emoticon'></span></msgContents>
	</li>
</ul>


<div class="msgContainer" ng-hide="!username">
	<form>
		<fieldset ng-show="sendTo">
			<input type="text" ng-model="message" class="chatInput">  
			<button type="submit" class="btn" ng-click="send(message)" ng-disabled="message.length<1">send</button>
		</fieldset>
	</form>
</div>


<ul class="userContainer stylebg" ng-hide="!username">
	<li class="styleheader username"> logged in as:</br>
	{{username}}</li>
	<li class="user" ng-repeat="user in users" ng-hide="user.name == username" ng-click="setMsgReceiver(user)" 
		ng-class="{selected: user.name == sendTo}" style="color: {{user.name | color}}; border-color: {{user.name | color}};">
		{{user.name}}
		<span ng-repeat="this in timeWatched" ng-show="this.username == user.name && this.count >0" class="count">
			{{this.count}}
		</span>	
	</li>
</ul>

