<form id="login" class="style" ng-hide="username != undefined">
  <fieldset>
    <label>Username</label><label ng-show="userExists" class="error">user already exists</label>
    <input type="text" placeholder="Your name…" ng-model="name">
    
    <button type="submit" class="btn" ng-click="login(name)">Login</button>
    <div class="btn" ng-click="requestNotifications()">desktop notification</div>
  </fieldset>
</form>

<!-- <div id="usernameContainer" ng-hide="username == undefined">Logged in as: {{username}}</div> -->